<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Monografía ganadora del premio del Concurso de Monografías de la Unión Matemática Argentina 2020.
                Una introducción a los linkages y origamis desde una perspectiva matemática.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://drive.google.com/file/d/1FdtI37uiZk9GD7peIM0eIsmqDkROrlzI/view"><img src="../../../assets/monografia.jpg" class="img-fluid img-proyecto"></a>
        </div>
    </div>
</div>
