<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto Carnet kosmi.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quae fugit officiis quidem sed
                reiciendis repudiandae, inventore voluptate labore explicabo nulla, quod veniam debitis harum id
                consectetur laudantium magni omnis.</p>
        </span>
    </div>
</div>