<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto Carnet kosmi.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Soy un estudiante avanzado de la Licenciatura en Matemática, con gran interés en Computación, Programación y Estadística.
                Desarrollo mis estudios en FaMAFyC de la UNC.
            </p>
        </span>
    </div>
</div>